/* Styles for announcement slider */
.announcement-bar {
    background-color: #274f68;
    padding: 10px 0;
}
.announcement-track{
        background-color: #274f68;
        width: 200%;
        animation: announcement-slider 20s linear infinite;
}
@keyframes announcement-slider{
    from {
        transform: translateX(-10%);
    } 
    to{
        transform: translateX(0%);
    }
}
.announcement-track:hover{
    animation-play-state: paused;
}
.announcement-item{
    font-weight: bold;
    color: white;
}

/*Login styles*/
.login-wrapper {        
    background-color: #296ACE;
    min-height: 100vh;
    width: 100%;
}

.login-card {
    background-color: white;
    width: 450px;
    min-height: 470px;
    border-radius: 12px !important;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.btn-thalassa {

    font-weight: 600;
}

.btn-thalassa:hover {
    background-color: #1e54a8;
    color: #1e54a8;
}

/*Register styles*/
.register-wrapper {     /** Register wrapper that will act like the body */
    background-color: #296ACE;
    min-height: 100vh;
    width: 100%;
}